@import "tailwindcss";
@import "@nuxt/ui";

#app {
	height: 100dvh;
}

button,
[role="button"] {
	cursor: pointer;
}
:disabled {
	cursor: default; /* Ensures disabled buttons don't get pointer cursor */
}

[data-reka-popper-content-wrapper] {
	z-index: 5;
}
